

<div class="table-body">
    <table id="carousel" lay-filter="carousel"></table>
</div>

<script>
    layui.use(['table','form','layer','laydate'],function(){
        var layer = layui.layer, table = layui.table,form = layui.form,date = layui.laydate;
        //执行渲染
        table.render({
            elem: '#carousel', //指定原始表格元素选择器（推荐id选择器）
            height: 'full-220',
            cellMinWidth: '80',
            page: 'true',
            limit:'20',
            id:'carousel',
            url: "{:url('My/partner_index')}",
            cols: [[ //标题栏
                {type:'numbers'},
                {field: 'name', title: '申请人姓名',align:'center'},
                {field: 'status', title: '审核状态',align:'center'},
                {field: 'mobile', title: '申请人手机号',align:'center'},
                {field: 'identity_card_face', title: '身份证正面图片',align:'center', templet: function(data){
                        return '<a href="javascript:void(0);" onclick=viewImage("'+data.business_license+'")><image style="max-width:30px;max-height:30px;" src="'+data.business_license+'"/></a>';
                    }},
                {field: 'identity_card_face', title: '身份证反面图片',align:'center', templet: function(data){
                        return '<a href="javascript:void(0);" onclick=viewImage("'+data.identity_card_back+'")><image style="max-width:30px;max-height:30px;" src="'+data.identity_card_back+'"/></a>';
                    }},
                {field: 'identity_card_face', title: '营业执照图片',align:'center', templet: function(data){
                        return '<a href="javascript:void(0);" onclick=viewImage("'+data.identity_card_face+'")><image style="max-width:30px;max-height:30px;" src="'+data.identity_card_face+'"/></a>';
                    }},

                {width:150, title:'操作',align:'center', toolbar:'#carouselBar'}
            ]] //设置表头
            //,…… //更多参数参考右侧目录：基本参数选项
        });


        //添加
        $(document).on('click','.add',function(){
            window.location.href = "{:url('Article/add_banner')}";
        });

        form.on('submit(edit)',function(data){
            JsPost("{:url('Carousel/edit')}",{data:data.field},function(res){
                if(res.status){
                    layer.close(window.box);
                    layer.msg(res.msg, {time:1300},function(){
                        table.reload('carousel');
                    });
                }else{
                    layer.msg(res.msg);
                }
            });
        });

        //监听工具条
        table.on('tool(carousel)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent === 'del'){ //删除
                layer.confirm('真的要删除么',{icon: 3}, function(index){
                    JsGet("{:url('My/del_partner')}?id=" + data.id, function(res){
                        if(res.status){
                            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            layer.close(index);//向服务端发送删除指令
                        }
                        layer.msg(res.msg);
                    })
                });
            } else if(layEvent === 'edit'){ //编辑
                JsGet("{:url('My/verify')}?id=" + data.id, function(res){
                    layer.msg(res.msg);
                })
            }
        });
    })
</script>

<script type="text/html" id="carouselBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">通过审核</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
