<style>
    @media screen and (max-width: 500px) {
        .layui-layer.layui-layer-page {
            width: 100% !important;
            overflow-x: scroll !important;
            left: 0 !important;
        }
        .layui-layer-title {
            width: 100% !important;
            box-sizing: border-box;
        }
        .layui-layer-content {
            width: 100% !important;
        }
    }
</style>
<form class="layui-form seller-form" action="">
    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">昵称：</label>
            <div class="layui-input-inline seller-inline-2">
                <input type="text" name="nickname" lay-verify="title" placeholder="用户昵称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <!--<div class="layui-input-block">-->
            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="user-search"><i
                    class="iconfont icon-chaxun"></i>筛选</button>
        </div>

    </div>
</form>

<div class="table-body">
    <table id="userTable" lay-filter="test"></table>
</div>


<script src="__STATIC_JS__jquery.form.js" type="text/javascript" charset="utf-8"></script>
<script>
    var table, window_box;
    layui.use(['form', 'layedit', 'laydate', 'table'], function () {
        table = layui.table.render({
            elem: '#userTable',
            height: 'full-150',
            cellMinWidth: '80',
            page: 'true',
            limit: '20',
            url: "{:url('user/index')}?_ajax=1",
            id: 'userTable',
            cols: [[
                {type:'checkbox'},
                {
                    field: 'option', title: '操作', templet: function (d) {
                        var html = '<a class="layui-btn layui-btn-xs edit" data-id="' + d.id + '">修改</a>';
                        return html;
                    }, align: 'center', width: 200
                },
                { field: 'id', title: 'ID', width:80 },
                { field: 'grade_name', title: '等级', width: 150 },
                { field: 'sex', title: '性别' },
                {
                    field: 'avatar', title: '头像',
                    templet: function (d) {
                        if (d.avatar) {
                            return '<a href="javascript:void(0);" onclick=viewImage("' + d.avatar + '")><image style="max-width:30px;max-height:30px;" src="' + d.avatar + '"/></a>';
                        } else {
                            return '<a href="javascript:void(0);" onclick=viewImage("<?php echo config('jshop.default_image'); ?>")><image style="max-width:30px;max-height:30px;" src="<?php echo config('jshop.default_image');?>"/></a>';
                        }
                    }, width: 80
                },
                { field: 'nickname', title: '昵称' },
                { field: 'pid_name', title: '邀请人' },
                { field: 'ctime', title: '创建时间', width: 200 }
            ]]
        });
        //搜索
        layui.form.on('submit(user-search)', function (data) {
            layui.table.reload('userTable', {
                where: data.field
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //删除用户
        layui.form.on('submit(delete-user)', function (data) {
            var checkStatus = layui.table.checkStatus('userTable');
            var checkData = checkStatus.data;
            var operate = data.value;
            var length = checkStatus.data.length;
            if (length <= 0) {
                layer.msg("请先选要操作的数据");
                return false;
            }
            var ids = [];
            $.each(checkData, function (i, obj) {
                ids.push(obj.id);
            });
            layer.confirm('确认删除选中商品吗？', {
                title: '提示', btn: ['确认', '取消'] //按钮
            }, function () {
                JsPost("{:url('User/delUser')}", {'ids': ids}, function (res) {
                        if (res.status) {
                            layer.msg(res.msg);
                            layui.table.reload('userTable');
                        } else {
                            layer.msg(res.msg);
                        }

                    }
                );
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //积分编辑
        $(document).on('click', '.pointEdit', function () {
            var id = $(this).attr('data-id');
            JsGet("{:url('manage/user/editPoint')}?user_id="+id+"&flag=false", function(e){
                layer.open({
                    type: 1,
                    title: '修改用户积分',
                    area: ['450px', '300px'], //宽高
                    content: e.data
                });
            });
        });
        //保存积分
        $(document).on('click', '.edit-point-save', function () {
            var user_id = $("#user_id").val();
            var point = $("#point").val();
            var memo = $("#memo").val();
            var __Jshop_Token__ = $(".Jshop_Token:last").val();
            if ($.trim(point) == '') {
                layer.msg('积分变更不能为空');
            }
            JsPost("{:url('manage/user/editPoint')}", {
                'user_id': user_id,
                'flag': 'true',
                'point': point,
                'memo': memo,
                '__Jshop_Token__': __Jshop_Token__
            }, function (e) {
                if (e.status) {
                    layer.msg(e.msg, {time: 1500}, function () {
                        layer.closeAll();
                        layui.table.reload('userTable');
                    });
                } else {
                    layer.msg(e.msg);
                }
            });
        });
        //积分记录
        $(document).on('click', '.point', function () {
            var id = $(this).attr('data-id');
            JsGet("{:url('manage/user/pointLog')}?user_id="+id+"&flag=false", function(e){
                layer.open({
                    type: 1,
                    title: '用户积分记录',
                    area: ['800px', '535px'], //宽高
                    content: e.data
                });
            });
        });
        //添加
        layui.form.on('submit(user-add)', function () {
            JsGet("{:url('User/addUser')}", function(e){
                window.box = layer.open({
                    type: 1,
                    content: e.data,
                    area: ['700px', '550px'],
                    title: '添加用户',
                    btn: ['确定', '取消'],
                    zIndex: 1800,
                    yes: function () {
                        var data = $("#userAdd").serializeArray();
                        JsPost('{:url("User/addUser")}', data, function(e){
                            if (e.status) {
                                layer.close(window.box);
                                layer.msg(e.msg, { time: 1300 }, function () {
                                    layui.table.reload('userTable');
                                });
                            } else {
                                layer.msg(e.msg);
                            }
                        });
                    }
                });
            });
            return false;
        });
        //编辑
        $(document).on('click', '.edit', function () {
            var user_id = $(this).attr('data-id');
            JsGet('{:url("User/editUser")}?user_id='+user_id, function(e){
                window.box = layer.open({
                    type: 1,
                    content: e.data,
                    area: ['700px', '570px'],
                    title: '编辑用户',
                    btn: ['确定', '取消'],
                    zIndex: 1800,
                    yes: function () {
                        var data = $("#userEdit").serializeArray();
                        JsPost('{:url("User/editUser")}', data, function(e){
                            if (e.status) {
                                layer.close(window.box);
                                layer.msg(e.msg, { time: 1300 }, function () {
                                    layui.table.reload('userTable');
                                });
                            } else {
                                layer.msg(e.msg);
                            }
                        });
                    }
                });
            });
        });
        //余额编辑
        $(document).on('click', '.editMoney', function () {
            var id = $(this).attr('data-id');
            JsGet("{:url('manage/user/editMoney')}?user_id="+id+"&flag=false", function(e){
                layer.open({
                    type: 1,
                    title: '修改用户余额',
                    area: ['450px', '300px'], //宽高
                    content: e.data
                });
            });
        });
        //保存余额
        $(document).on('click', '.edit-money-save', function () {
            var user_id = $("#user_id").val();
            var money = $("#money").val();
            JsPost("{:url('manage/user/editMoney')}",{
                'user_id': user_id,
                'flag': 'true',
                'money': money
            },function(e){
                if (e.status) {
                    layer.msg(e.msg, { time: 1500 }, function () {
                        layer.closeAll();
                        layui.table.reload('userTable');
                    });
                } else {
                    layer.msg(e.msg);
                }
            });

        });
        //余额明细
        $(document).on('click', '.balance', function () {
            var id = $(this).attr('data-id');
            window.location.href = "{:url('manage/balance/index')}" + '?user_id=' + id;
        });
        //会员导出
        layui.form.on('submit(export-user)', function (data) {

            layer.open({
                type: 1,
                title: '会员导出',
                area: ['400px', '290px'], //宽高
                btn: ['确定', '取消'],
                content: $("#exportUser").html(),
                yes: function () {
                    //判断是否有选中
                    var filter = $(".seller-form").serialize();
                    $(".export-form:last").append("<input type='hidden' name='filter' value='" + filter + "'>");
                    var data = $(".export-form:last").serializeArray();
                    data.push({ 'name': 'model', 'value': 'User' });
                    JsPost("{:url('Ietask/export')}", data, function (res) {
                            layer.msg(res.msg, { time: 1500 }, function () {
                                if (res.status) {
                                    table.reload();
                                    layer.closeAll();
                                }
                            });
                        }
                    );
                }, btn2: function () {
                    layer.closeAll();
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //会员导入
        layui.form.on('submit(import-user)', function (data) {
            layer.open({
                type: 1,
                title: '会员导入',
                area: ['400px', '290px'], //宽高
                btn: ['确定', '取消'],
                content: $("#importUser").html(),
                yes: function (index, obj) {
                    $(obj).find('.import-form').ajaxSubmit({
                        type: 'post',
                        dataType: 'json',
                        success: function (result) {
                            layer.msg(result.msg, { time: 1500 }, function () {
                                if (result.status) {
                                    table.reload();
                                    layer.closeAll();
                                }
                            });
                        },
                        error: function (result) {
                            layer.msg("导入失败");
                        }
                    });
                }, btn2: function () {
                    layer.closeAll();
                }
            });
        });
    });
</script>